<div class="col-xs-12">
	<div class="jumbotron">
		<a class="btn btn-success btn-lg btn-outline btn-rounded" ng-click="agregar()">Aceptar</a>
		<a class="btn btn-danger btn-lg btn-outline btn-rounded" ui-sref="app.sitios">Cancelar</a>
		<div class="row">
			<div class="col-md-12">
		    	<div class="form-group">
			    	<h2>Nombre:</h2>
			    	<input class="form-control" ng-model="sitio.nombre" type="text">
			  	</div>
		  	</div>			
  		</div>		
		<div class="row">
		  	<div class="col-xs-8">
		    	<div class="form-group">
			    	<h2>Subnombre:</h2>
			    	<input class="form-control" ng-model="sitio.subnombre" type="text">
			  	</div>
		  	</div>
		  	<div class="col-xs-4">
		  		<div class="form-group">
			    	<h2>Categoria:</h2>
			    	<button type="button" class="btn btn-default col-xs-12" data-toggle="dropdown">
			    		{{sitio.categoria}}
		    			<span class="caret"></span>
	    			</button>
	    			<ul class="dropdown-menu">
					    <li class="col-xs-12 text-center">
					    	<a ng-click="tCat('Sitio Turistico')">Sitio Turistico</a>
				    	</li>
					    <li class="col-xs-12 text-center">
					    	<a ng-click="tCat('Hotel')">Hotel</a>
				    	</li>
					    <li class="col-xs-12 text-center">
					   		<a ng-click="tCat('Restaurante')">Restaurante</a>
				   		</li>
					    <li class="col-xs-12 text-center">
					    	<a ng-click="tCat('Bar')">Bar</a>
				    	</li>
				    	<li role="separator" class="divider col-xs-12"></li>
				    	<li class="col-xs-12 text-center">
					    	<a ng-click="tCat('Otro')">Otro</a>
				    	</li>
				  	</ul>
			  	</div>		    	
		  	</div>
		</div>
		<div class="row">
			<h2>Informacion:</h2>
			<a class="btn btn-info btn-lg btn-outline btn-rounded" ng-click='plusInfo()'>Agregar</a>
			<div class="row" ng-repeat="info in sitio.informacion track by $index">
				<div class="col-xs-12">
		    		<div class="form-group">
			    		<h2>Titulo:</h2>
			    		<input class="form-control" ng-model="sitio.informacion[$index].titulo" type="text">
			  		</div>
		  		</div>
		  		<div class="col-xs-12">
		    		<div class="form-group">
			    		<h2>Descripcion:</h2>
			    		<input class="form-control" ng-model="sitio.informacion[$index].detalle" type="text">
			  		</div>
		  		</div>
		  		<hr class="col-xs-12">
			</div>	
  		</div>	
  		<div class="row">
			<div class="col-xs-6">
	    		<div class="form-group">
		    		<h2>Mapa:</h2>
		    		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
		    			<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        				</ui-gmap-marker>
		    		</ui-gmap-google-map>
		  		</div>
	  		</div>
	  		<div class="col-xs-6">
	    		<div class="form-group">
		    		<h2>Imagen Principal:</h2>
		    		<div flow-init="{target: 'upload/sitios', singleFile:true, testChunks:false}" flow-files-submitted="$flow.upload()" flow-name="imagenBackground.flow">
		    			<span class="btn btn-info btn-lg btn-outline btn-rounded" ng-hide="$flow.files.length" flow-btn>Agregar</span>
						<span class="btn btn-danger btn-lg btn-outline btn-rounded" ng-show="$flow.files.length" flow-btn>Cambiar</span>
						 <div class="thumbnail" ng-hide="$flow.files.length">
				      		<img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
					    </div>
					    <div class="thumbnail" ng-show="$flow.files.length">
				      		<img flow-img="$flow.files[0]" />
					    </div>
					</div>
				</div>
	  		</div>
  		</div>
  		<div class="row">
			<div class="col-md-12">
		    	<div class="form-group">
			    	<h2>Imagenes:</h2>
			    	<div flow-init="{target: 'upload/sitios', testChunks:false}" flow-files-submitted="$flow.upload()" flow-name="imagenes.flow">
			  			<span class="btn btn-info btn-lg btn-outline btn-rounded" flow-btn>Agregar</span>
			  			<div class="thumbnail" ng-repeat="file in $flow.files">
				      		<img flow-img="file" />
					    </div>
		  			</div>
			  	</div>
		  	</div>			
  		</div>		
	</div>
</div>